.sec {
  text-align: center;
}

.sec2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.sec2 input {
  margin-right: 2%;
  border: none;
  border-radius: 15px;
  background: rgba(30, 30, 30, 0.6);
  padding: 1.5% 4% 1.5% 2%;
  font-size: 16px;
  width: 47%;
}

.sec2 button {
  border-radius: 15px;
  border: none;
  padding: 1% 1.7% 1% 1.7%;
  font-size: 30px;
  font-weight: bolder;
  background-color: #17a589;
}

.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #212f3c;
  padding: 2%;
  margin-bottom: 4%;
  height: 60px;
}

.projectsCompleted,
.projectsCompleted1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #17202a;
  padding: 2%;
  margin-bottom: 4%;
  height: 60px;
}

.projectsCompleted1 {
  padding: 3%;
}

.bouton {
  border: none;
  background: none;
}

.ima:hover {
  height: 37px;
  width: 37px;
  transition: 0.5s;
}

.ima1:hover {
  height: 32px;
  width: 32px;
  transition: 0.5s;
}
